[submodule "components/u8g2/u8g2"]
	path = components/u8g2/u8g2
	url = https://github.com/olikraus/u8g2.git
[submodule "components/u8g2"]
	path = components/u8g2
	url = https://github.com/olikraus/u8g2.git
[submodule "assets/fonts/sf-pro"]
	path = assets/fonts/sf-pro
	url = https://github.com/divocbn/sf-pro
