# Board Selection

# Flash Configuration
CONFIG_ESPTOOLPY_FLASHSIZE_8MB=y

# Heltec WiFi LoRa 32 V3 - SX1262 LoRa Pin Configuration
CONFIG_MISO_GPIO=11
CONFIG_SCLK_GPIO=9
CONFIG_MOSI_GPIO=10
CONFIG_NSS_GPIO=8
CONFIG_RST_GPIO=12
CONFIG_BUSY_GPIO=13
CONFIG_TXEN_GPIO=-1
CONFIG_RXEN_GPIO=-1

# Use SPI2 (HSPI)
CONFIG_SPI2_HOST=y
