menu "LoRaCue Model Configuration"

    config MODEL_LC_ALPHA
        bool "LC-Alpha Model"
        default n
        help
            Enable LC-Alpha model configuration (Heltec V3, 1 button).

    config MODEL_LC_ALPHA_PLUS
        bool "LC-Alpha+ Model"
        default n
        help
            Enable LC-Alpha+ model configuration (Heltec V3, 2 buttons).

    config MODEL_LC_BETA
        bool "LC-Beta Model"
        default n
        help
            Enable LC-Beta model configuration (LilyGO T3-S3, E-Paper).

    config MODEL_LC_GAMMA
        bool "LC-Gamma Model"
        default n
        help
            Enable LC-Gamma model configuration (future TFT touchscreen).

endmenu
